---
import { Image } from "astro:assets";
import PageHeader from "@/components/PageHeader.astro";
import Shape from "@/components/Shape.astro";
import Base from "@/layouts/Base.astro";
import Cta from "@/layouts/partials/Cta.astro";
import KeyFeatures from "@/layouts/components/KeyFeatures.astro";
import { getEntryBySlug } from "astro:content";
import { markdownify } from "@/lib/utils/textConverter";

const roadmap = await getEntryBySlug("roadmap", "index");
const { milestones, key_features } = roadmap.data;
const page_data = {
  ...roadmap.data,
  content: roadmap.body,
};
---

<Base
  title={roadmap.data.title}
  meta_title={roadmap.data.meta_title}
  description={roadmap.data.description}
  image={roadmap.data.image}
>
  <Shape />
  <section class="page-hero pb-14 pt-16">
    <div class="container">
      <div class="page-hero-content mx-auto max-w-[883px] text-center">
        <PageHeader page_data={page_data} />
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      {
        milestones.map((item: any, index: number) => (
          <div class="gx-5 row mt-16 items-center first:mt-12">
            <div
              class={`lg:col-7 ${
                index % 2 === 0 ? "lg:order-1" : "lg:order-0"
              }`}
            >
               {item.image && (
                <div class="relative">
                   <Image
                  class="w-70 object-contain"
                  alt="service"
                  width={473}
                  height={286}
                  src={item.image}
                /></div>
                  )}
            </div>
            <div
              class={`mt-6 lg:col-5 lg:mt-0 ${
                index % 2 === 0 ? "lg:order-0" : "lg:order-1"
              }`}
            >
              <div class="text-container">
                <h2 class="lg:text-4xl">{item.title}</h2>
                <p set:html={markdownify(item.description)}/>
                
              </div>
            </div>
          </div>
        ))
      }
    </div>
     <!-- key features -->
  <KeyFeatures key_features={key_features} />
  </section>

  <Cta />
</Base>
